/* Add CSS Styling */
p {
    background-color: #FA2A55;
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

#second {
    color: blue;
    font-size: 36px;
}

.cooler,
#fourth {
    font-size: 24px;
}

#fourth {
    background-color: rgb(9, 197, 19);
    font-weight: bold; 
}